.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
# Ignora tutto il contenuto
content/*

# Tranne le note pubbliche della campagna
!content/Umbraon/
!content/Umbraon/**
!content/index.md
